# 忽略临时文件和目录
.dockerignore
.git
.github
.svn
.hg
*.pyc

# 忽略编辑器临时文件
.vscode
.idea
*.swp

# 忽略日志和缓存文件
logs
*.log
*.tar
*.gz
*.zip

# 忽略测试和开发相关文件
tests
test_data
*.test

# 忽略文档
docs
doc
*.doc
*.pdf

# 忽略其他无关文件
node_modules
bower_components
*.bak
*.tmp

